<ion-view view-title="Create account" class="logincss">
    <ion-content>
        <!-- Create account -->
        <div class="signupform">
            <form ng-submit="createuser(username, password, email)">
                <div class="item">
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <input type="text" ng-model="email" placeholder="Email" ></input>
                        </label>
                        <label class="item item-input item-floating-label">
                            <input type="text" ng-model="username" placeholder="Username">
                        </label>
                        <label class="item item-input item-floating-label">
                            <input type="password" ng-model="password" placeholder="Password">
                        </label>

                        <div class="col text-right">
                            <button ion-button class="button button-balanced button-block" type="submit">Create account</button>
                        </div>
                        <div class="col text-right lessopaque">
                            <button ion-button class="button button-dark button-block" type="button" ng-click="gotomain()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>
