<ion-view view-title="Account" class="logincss">
  <ion-content>

    <!-- At main page, before logging in -->
      <div class="loginform">
        <div class="item">
          <p class="text-center">No user logged in</p>

          <div class="row">
            <div class="col text-center">
              <button ion-button class="button button-positive button-block non-opaque" ng-click="gotologin()">Login</button>
            </div>
          </div>
          <p class="text-center">Don't have an account?</p>
          <div class="row">
            <div class="col text-center">
              <button ion-button class="button button-balanced button-block" ng-click="gotoregister()">Sign up</button>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
