<ion-view view-title="{{::cart.messages.title}}" >
    <ion-content>
        <ion-list>
            <ion-item
                    class="item-remove-animate item-avatar item-icon-right no-padding item-text-wrap"
                    ng-repeat="cartitem in cart.crt_list.data.items" type="item-text-wrap" >
                <img ng-src="{{cartitem.variant.mainImage}}">
                <div class="child_div_1">
                    <h2>{{cartitem.variant.name}}</h2>
                    <h2>{{cartitem.variant.priceFormatted}}</h2>
                    <h2>{{cartitem.quantity}} pcs</h2>
                    <p>{{cartitem.variant.type}} / {{cartitem.variant.size.value}}</p>
                </div>
                <i class="icon ion-chevron-right icon-accessory" ng-controller="ProductDetailCtrl" ng-click="gotoproduct(product.id)"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
